* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  --blue: #216df8;
}

main {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.score {
  font-size: 3rem;
  font-weight: 800;
  color: rgb(124, 30, 201);
  margin: 10px 0;
}

.score-animated {
  color: rgb(236, 92, 25);
  animation-name: scoreAnim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes scoreAnim {
  0% {
    transform: rotate(0deg);
    font-size: 5rem;
  }
  25% {
    font-size: 10rem;
    transform: rotate(360deg);
  }
  100% {
    font-size: 5rem;
    transform: rotate(360deg);
  }
}

.award,
.award-number {
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
  color: var(--blue);
  font-weight: 600;
}

.award-number {
  width: 50px;
}

.award:focus,
.award-number:focus {
  outline: none;
  outline-style: dotted;
  outline-color: rgba(33, 109, 248, 0.5);
}

button, .link {
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  border: 1px solid var(--blue);
  background-color: rgb(161, 193, 255);
  color: rgb(1, 63, 179);
  cursor: pointer;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover, .link:hover {
  background-color: rgb(212, 226, 255);
}

button:disabled, .link:disabled {
  background-color: rgb(212, 226, 255);
  cursor: not-allowed;
}
.link {
text-decoration: none;
font-size: .8rem;
}

.btn-secondary {
  background-color: rgb(237, 245, 255);
}

.btn-warm {
  background-color: rgb(255, 244, 210);
  border-color: rgb(253, 213, 94);
  color: rgb(211, 130, 24);
}

.record {
  color: var(--blue);
  font-size: 2rem;
  padding: 50px;
}

.record ul {
  list-style: none;
}

.display {
  font-size: 1.2rem;
  font-weight: 700;
  height: 50px;
  opacity: 0;
}

.display-anim {
  color: var(--blue);
  animation-name: displayAnim;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes displayAnim {
  0% {
    opacity: 1;
    font-size: 0.5rem;
  }
  15% {
    font-size: 1.2rem;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    font-size: 1.2rem;
  }
}

.final-area {
  position: relative;
  max-width: 100%;
  margin: 0 auto;

  visibility: visible;
  max-height: 100%;
  opacity: 1;
  overflow: hidden;
  transition: all 1s ease-out;
  transition-delay: 1s;

  animation-name: finalAreaAnim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.final-area-hidden {
  visibility: hidden;
  max-width: 0px;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: all 1s ease-out;
}

@keyframes finalAreaAnim {
  0% {
    background-color: #55ddff;
  }
  20% {
    background-color: #fff494;
  }
  50% {
    background-color: aquamarine;
  }
  70% {
    background-color: #cdfc81;
  }
  100% {
    background-color: #55ddff;
  }
}

.award-area {
  max-height: 500px;
  opacity: 1;
  transition: all 1s ease-out;
  transition-delay: 1s;
}

.award-area-hidden {
  visibility: hidden;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: all 1s ease-out;
}

.width-550{
  position: relative;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
}

.smile img {
  width: 100px;
  margin: 10px;
}

.smile-1 {
  position: absolute;
  top: 20px;
  left: 50px;
}

.smile-2 {
  position: absolute;
  top: 20px;
  right: 50px;
  transform: rotate(45deg);
}

